html {
    font-size: 10px;
}
  
h1 {
    font-size: 5rem; /* 5 * 10px */ 
    /* similar to Pascal notation in programming languages */
    text-transform: capitalize; 
    text-shadow: 
        1px 1px 1px red,  /* first layer */
        2px 2px 1px red;  /* second layer */
    text-align: center;
    letter-spacing: 2px;
}

h1 + p {
    /* The default is 400 */
    font-weight: bold; /* Internally maps to 700 */
}

p {
    font-size: 1.5rem; /* 1.5 * 10px */
    color: red; /* font color */
    /* Arial and sans-serif are fallback */
    font-family: Helvetica, Arial, sans-serif;
    /* the actual size is 1.6 multioly font-size */
    line-height: 1.6; /* 1.5-2 is recomended for better reading */
    letter-spacing: 1px;
}

p::first-line {
    letter-spacing: 4px;
    word-spacing: 4px;
}  